{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="mt-4 mb-3">Compartir tarea</h2>
    <form method="POST" action="{% url 'compartir_tarea' %}" class="mt-4">
      {% csrf_token %}
      <div class="form-group">
        <label for="task">Seleccione una tarea:</label>
        <select name="task" id="task" class="form-control">
          {% for task in tasks %}
            <option value="{{ task.id }}">{{ task.title }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="users">Seleccione usuarios para compartir:</label>
        <select name="users" id="users" class="form-control" multiple>
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Compartir</button>
    </form>
  </div>
{% endblock %}
