{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Tareas compartidas</h1>

    {% if shared_tasks %}
      <ul class="list-group">
        {% for task in shared_tasks %}
          <li class="list-group-item">
            <strong>Título de la tarea:</strong> {{ task.task__title }} <br>
            <strong>Veces que la tarea es compartida:</strong> {{ task.count }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No tienes tareas compartidas pendientes.</p>
    {% endif %}
  </div>
{% endblock %}
