{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if user.is_authenticated %}
                    <h4 class="text-center py-5">Bienvenido/a, {{ user.username }}.</h4>
                {% else %}
                    <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
                {% endif %}
            {% if completed_tasks %}
                <h1 class="text-center display-3 py-2">Tareas Completadas</h1>
                <ul class="list-group">
                    {% for task in completed_tasks %}
                        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                            <header class="d-flex justify-content-between">
                                {% if task.important %}
                                    <h1 class="fw-bold text-danger">{{ task.title }}</h1>
                                {% else %}
                                    <h1 class="fw-bold">{{ task.title }}</h1>
                                {% endif %}
                                <p>{{ task.user.username }}</p>
                            </header>
                            <p>{{ task.description }}</p>
                            <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h1 class="text-center display-3 py-2">Tareas Pendientes</h1>
                <ul class="list-group">
                    {% for task in pending_tasks %}
                        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                            <header class="d-flex justify-content-between">
                                {% if task.important %}
                                    <h1 class="fw-bold text-danger">{{ task.title }}</h1>
                                {% else %}
                                    <h1 class="fw-bold">{{ task.title }}</h1>
                                {% endif %}
                                <p>{{ task.user.username }}</p>
                            </header>
                            <p>{{ task.description }}</p>
                            <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <div class="text-center mt-4">
                <hr>
                
            </div>
        </div>
    </div>
</main>
{% endblock %}
